<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Provisioning Services</display-name>

	<!-- Ethereum -->
	<servlet>
		<servlet-name>Ethereum</servlet-name>
		<servlet-class>blocklinks.provisioner.EthereumServlet</servlet-class>
	</servlet>
	
	<!-- Ripple -->
	<servlet>
		<servlet-name>Ripple</servlet-name>
		<servlet-class>blocklinks.provisioner.RippleServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Ethereum</servlet-name>
		<url-pattern>/eth</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Ripple</servlet-name>
		<url-pattern>/ripple</url-pattern>
	</servlet-mapping>
</web-app>
